@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif;
}

.react-calendar__navigation__label {
  font-weight: 600;
}
.react-calendar__tile--active {
  background-color: skyblue !important;
  color: white !important;
  border-radius: 8px;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding-right: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background: skyblue !important;
  color: #000 !important;
  font-size: 13px !important;
  margin-left: 2px;
  border-radius: 8px;
}

.rbc-toolbar button.rbc-active {
  background: #dbdafe !important;
  /* color: #fff !important; */
  box-shadow: none;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border-top: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f8fbff !important;
}

.rbc-timeslot-group:hover {
  background-color: #f5f5f5 !important;
}

/* .rbc-event {
  border: none !important;
  color: black;
  margin: 10px !important;

  width: 99%;
} */

/* .rbc-event:nth-child(1) {
  background-color: #f8fbff;
}

.rbc-event:nth-child(2) {
  background-color: #f8fbff;
}

.rbc-event:nth-child(3) {
  background-color: #f8fbff;
}

.rbc-event:nth-child(4) {
  background-color: #f8fbff;
}

.rbc-event:nth-child(5) {
  background-color: #f8fbff;
}

.rbc-event:nth-child(1) {
  background-color: #f8fbff;
}
.rbc-event:nth-child(1) {
  background-color: #f8fbff;
}
.rbc-event:nth-child(1) {
  background-color: #f8fbff;
} */

.rbc-event {
  border: none !important;
  color: #111827 !important;
  margin: 6px !important;
  border-radius: 8px;
  width: 99%;
}

.rbc-event:nth-child(5n + 1) {
  background-color: #e0f2fe !important; /* Light Blue */
}

.rbc-event:nth-child(5n + 2) {
  background-color: #dcfce7 !important; /* Light Green */
}

.rbc-event:nth-child(5n + 3) {
  background-color: #fef3c7 !important; /* Light Yellow */
}

.rbc-event:nth-child(5n + 4) {
  background-color: #fce7f3 !important; /* Light Pink */
}

.rbc-event:nth-child(5n + 5) {
  background-color: #ede9fe !important; /* Light Purple */
}

.rbc-event-label {
  color: gray;
  margin-bottom: 4px;
}
